.carousel-control-next, .carousel-control-prev{
      width: 50%;

}


.carousel-control-next{

cursor: url(../images/cursor/white.jpg), e-resize;


}

.carousel-control-prev{

cursor: url('https://res.cloudinary.com/ds32iiece/image/upload/v1614797598/previous_rqmakw.svg'), w-resize;
}
/*cursor: e-resize;*/

