


.wrapper{
  display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
min-height: 700px;
}


.wrapper-about{
  display: flex;
    align-items: stretch;
 width: 100%;

 min-height: 700px;

}

.left{
  flex: 1 2 0;
  text-align: left;
  padding-top: 10px;
  padding-left: 40px;
   max-height: 600px;
}

.left-contact{
  text-align: left;
  padding-top: 10px;
  padding-left: 40px;
}

.main{
 flex: 4 0px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /*    max-height: 600px;*/

}

.right{
  flex: 1 2 0;
  text-align: right;
  padding-top: 10px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
}

.container{
/*  padding: 50px;*/
  max-width: 500px;
   text-align: justify;
}


#text{
  width: 400px;
}

.menu-responsive{
  visibility: hidden;
}

.title{
  height: 15px;
  padding-right: 70px;
}

.title p{
 width: 100%;
}
