
.wrapper{
  display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

   width: 100%;
    padding: 50px 100px;

}


.wrapper-about{
  display: flex;
    align-items: stretch;
 width: 100%;

padding: 50px 100px;
 min-height: 700px;

}

.left{
  flex: 1 2 0;
  text-align: left;



   max-height: 600px;

}

.left-contact{
  text-align: left;

}

#main{
 flex: 4 0px;
  width: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /*    max-height: 600px;*/




}

.right{
  flex: 1 2 0;
  text-align: right;


  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.container{
/*  padding: 50px;*/
  max-width: 500px;
   text-align: justify;
}


#text{
  width: 400px;
}

.menu-responsive{
  visibility: hidden;
}

.title{
  height: 15px;

  padding-right: 70px;
}

.title p{
 width: 100%;
}


#text-container-contact{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
