

@media(max-width: 900px) {
body {
        padding: 20px;
  }

  .wrapper{
    flex-direction: column;
  }

 .main{
    padding: 10px;
      order: 3;
 }

.left{
  flex-grow: 1;
  text-align: left;
  width: 100%;
  order: 1;
  padding-left: 10px;
}

.gallery{
  width: 500px;
}
.gallery img {
  width: 100%;
}


.right{
  flex-grow: 1;
  text-align: right;
  padding-top: 10px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  order: 3;
}




}

