
@media only screen and (max-width: 480px) {
  body {
        padding: 20px;
  }

  .wrapper{
    flex-direction: column;
  }

 .main{
    width: 100px;
    padding: 10px;
      order: 3;
 }

.left{
  flex-grow: 1;
  text-align: center;
  width: 100%;
  order: 1;

}


.right{
  flex-grow: 1;
  text-align: center;
    width: 100%;
      order: 2;
}

img{
  width: 100px;
}

}
