

@media(max-width: 768px) {
  body {
        padding: 20px;
  }

  .wrapper{
    flex-direction: column;
  }

 .main{
    width: 350px;
    padding: 30px;
 }

.left{
  flex-grow: 1;
  text-align: center;
  width: 100%;

}


.right{
  flex-grow: 1;
  text-align: center;
    width: 100%;
}


nav{
display: flex;
flex-direction: row;
}



}
