

@media(max-width: 900px) {
body {
        padding: 20px;
  }

  .wrapper{
    flex-direction: column;
    padding: 20px;
    height: 100vh;
  }

  .wrapper-about{
     flex-direction: column;
     padding: 20px;

  }

 .main{
    padding: 10px;
    order: 3;
   margin: 50px;

 }

.left{
  flex-grow: 1;
  text-align: left;
  width: 100%;
  order: 1;
/*  padding-left: 10px;*/
}

.gallery{
  width: 350px;
}
.gallery img {
  width: 100%;
}


.right{
  flex-grow: 1;
  text-align: center;
  padding-top: 10px;
  padding-right: 40px;
/*  display: flex;
  flex-direction: row;
  justify-content: space-between;*/
  width: 100%;
  order: 3;
}

.right nav{
display: flex;
  flex-direction: row;
      justify-content: space-evenly;
   flex-wrap: wrap;
  width: 350px;
}

.dropbtn{
  display: none;
}

.title{
  display: none;

}

.menu-responsive{
  visibility: visible;
  width: 350px;


  padding: 0 50px;
   flex-grow: 4;


}
.menu-responsive a{

    color: black;
    margin: 5px;
    text-decoration: none;

}

#link{
  color: gray;
    margin: 5px;
}


}

