#text-container{
  width: 500px;
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
/* min-height: 633px;
*/
 padding-bottom: 200px;


}



#text-container-contact{
  width: 500px;
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 100px;
  /*padding-bottom: 100px;*/
}
