#text-container{
  width: 500px;
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
/* min-height: 633px;
*/
 padding-bottom: 200px;


}



.info-contact{
  margin-top: 200px;
}


#text-container-contact{
  width: 500px;
  height: 100%;
  text-align: left;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 200px;
  align-content: space-between;
  display: flex;


/*  padding-top: 100px;*/
}
